<section>
    <div class="navbar flex">
        <div class="logo flex" routerLink="/">
            <img src="./././assets/logo.jpg" alt="Logo" class="logo-image">
            <div class="logo-heading">SecondPlay</div>
        </div>
    
        <ul class="navs flex">
            <!-- <li class="nav">
                <input type="text" class="search-box" placeholder="Search" #search>
                <i class="fa-solid fa-magnifying-glass pointer" ></i>
            </li> -->
            <li class="nav menu" routerLink="/sell">Sell/Donate Toy</li>
            <!-- <li class="nav menu">Donate Toy</li> -->
            <li class="nav">
                <button class="primary-button" routerLink="/login">Login</button>
            </li>
            <li class="nav">
                <button class="primary-button" routerLink="/dashboard">User Profile</button>
            </li>
        </ul>
    </div>
</section>
