.footer-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
}

.row{
    width: 60%;
    justify-content: space-evenly;
    padding-top: 10px;
}

.item{
    cursor: pointer;
}