.login-section{
    text-align: center;
    background-image: linear-gradient(var(--background-color1), #dfdfa1);    width: 100%;
    height: 90vh;
}


h2{
    font-size: 22px;
    padding-top: 45px;
    color: var(--color1);
}

.logo{
    width: 22px;
}

.login-container{
    width: 350px;
    height: 320px;
    margin: 0 auto;
    /* background-color: 
        var(--background-color2); */
    background-color: #eae140;
}

form{
    padding-top: 40px;
    position: relative;
    margin-top: 20px;
}

.input-row{
    padding: 8px;
}

.label{
    left: 50px;
    position: absolute;
    padding-top: 8px;
}

.input{
    padding-left: 15px;
    margin: 0 auto;
    border: none;
    height: 30px;
    padding-bottom: 2px;
}

.primary-button{
    margin-top: 20px;
}

p{
    padding: 20px;
}

.signup-button{
    border: none;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    
}

.label{
    display: none;
}

.info{
    padding-top: 0;
}