<section class="login-section">
    <div class="login-col">
        <h2 class="title" *ngIf=this.login>Login <img src="././assets/Vector.png" alt="" class="logo"></h2>
        <h2 class="title" *ngIf=this.signup>Signup <img src="././assets/Vector.png" alt="" class="logo"></h2>
    </div>
    <div class="login-container">
        <form action="" >
            <div class="input-row">
                <label for="email" class="label" >Email:</label>
                <input type="text" class="input" placeholder="Email">
            </div>
            <div class="input-row">
                <label for="email" class="label"></label>
                <input type="text" class="input" placeholder="Password">
            </div>
            <div class="input-row">
                <label for="email" class="label" >Confirm Password:</label>
                <input type="text" class="input" placeholder="Confirm Password" *ngIf=this.signup>
            </div>
            <div class="input-row">
                <label for="email" class="label">Contact Number</label>
                <input type="text" class="input" placeholder="Ph Number" *ngIf=this.signup>
            </div>
            <button class="primary-button" action="sumbit" *ngIf=this.login>Login</button>
            <button class="primary-button" action="sumbit" *ngIf=this.signup>Sign up</button>
        </form>
        <p class="info" *ngIf=this.login>Don't have an account? <button class="signup-button pointer" (click)="signupClicked()">Sign up!</button></p>
    </div>
</section>
