.form-section{
    text-align: center;
    background-image: linear-gradient(var(--background-color1), #dfdfa1);    width: 100%;
    height: 100vh;
    color: var(--color1);
}

.radio{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.radio-option{
    font-size: 22px;
    padding-right: 25px;
    padding-left: 5px;
}

.logo{
    width: 22px;
}

.login-container{
    width: 350px;
    height: 328px;
    margin: 20px auto 0;
    background-color: var(--background-color2);
    height: fit-content;
    padding-bottom: 13px;
}

form{
    padding-top: 20px;
}

.input-row{
    padding: 8px;
}

.details{
    height: 40px;
}
.label{
    left: 50px;
    position: absolute;
    padding-top: 8px;
}

.input{
    padding-left: 15px;
    margin: 0 auto;
    border: none;
    height: 25px;
    padding-bottom: 2px;
    color: #000c;
}

.primary-button{
    margin-top: 20px;
}

p{
    padding-top: 50px;
}

.signup-button{
    border: none;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

.label{
    display: none;
}

.row{
    justify-content: space-between;
    align-items: first baseline;
    width: 65%;
    margin: 0 auto;
}

.pics{
    font-size: 16px;
}