<section class="form-section ">

    <div class="flex radio">
        <div >
            <input type="radio" id="donate" name="formType" value="donate" checked (click)="donationChange()"/>
            <label for="donate" class="radio-option">Donate</label>
        </div>

        <div>
            <input type="radio" id="sell" name="formType" value="sell" (click)="sellChange()"/>
            <label for="sell" class="radio-option">Sell</label>
        </div>
    </div>
    
    <!---------------------------- Donation Section ----------------------------->

    <form action="" *ngIf="donate" class="form-container" [formGroup]="donateForm" (ngSubmit)="onSubmit()">

        <div class="input-row">
            <input type="text" class="input" placeholder="Name" formControlName="name">
        </div>
    
        <div class="input-row">
            <label for="email" class="label"></label>
            <input type="text" class="input" placeholder="Category" formControlName="category">
        </div>
    
        <div class="input-row">
            <input type="text" class="input" placeholder="Age Range" formControlName="ageRec">
        </div>
    
        <div class="input-row">
            <textarea type="text-box" class="input details" placeholder="Details" formControlName="details"></textarea>
        </div>
    
        <div class="input-row">
            <input type="text" class="input" placeholder="Used For" formControlName="usedFor">
        </div>
    
        <div class="input-row">
            <input type="text" class="input" placeholder="Location" formControlName="location">
        </div>
        <p class="invalid" *ngIf="donateForm.status=='INVALID'">*Fill in all the sections.</p>
    
        <div class="flex row">
            <div class="pics pointer">
                <!-- <input type="file" (change)="onChangeFile($event)"> -->
                 Add Photos <i class="fa-solid fa-file-circle-plus"></i>
            </div>
            <button class="primary-button" action="submit" >Donate</button>
        </div>
    </form>

    <!-------------------------- Submit Section ----------------------------->

    <form action="" *ngIf="sell" class="form-container" [formGroup]="sellForm" (ngSubmit)="onSellSubmit()">
    
        <div class="input-row">
            <input type="text" class="input" placeholder="Name" formControlName="name">
        </div>
    
        <div class="input-row">
            <label for="email" class="label"></label>
            <input type="text" class="input" placeholder="Price" formControlName="price">
        </div>
    
        <div class="input-row">
            <label for="email" class="label"></label>
            <input type="text" class="input" placeholder="Category" formControlName="category">
        </div>
    
        <div class="input-row">
            <input type="text" class="input" placeholder="Age Range" formControlName="ageRec">
        </div>
    
        <div class="input-row">
            <textarea type="text-box" class="input details" placeholder="Details" formControlName="details"></textarea>
        </div>
    
        <div class="input-row">
            <input type="text" class="input" placeholder="Used For" formControlName="usedFor">
        </div>
    
        <div class="input-row">
            <input type="text" class="input" placeholder="Location" formControlName="location">
        </div>
    
        <div class="flex row">
            <div class="pics pointer">
                Add Photos <i class="fa-solid fa-file-circle-plus"></i>
            </div>
            <button class="primary-button" action="submit">Sell</button>
        </div>
    </form>

</section>
