<section>
    <div class="navbar flex">
        <div class="logo flex">
            <img src="./././assets/logo.jpg" alt="Logo" class="logo-image" routerLink="/">
            <div class="logo-heading">SecondPlay</div>
        </div>
    
        <ul class="navs flex">
            <li class="nav">
                <input type="text" class="search-box" placeholder="Search" #search>
                <i class="fa-solid fa-magnifying-glass pointer" ></i>
            </li>
            <li class="nav">Sell Toy</li>
            <li class="nav">Donate Toy</li>
            <li class="nav"><button class="primary-button" routerLink="/login">SignIn</button></li>
        </ul>
    </div>
</section>
<router-outlet></router-outlet>
