.about-section{
    width: 90%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    background-color: var(--primary-color);
    font-size: 24px;
    width: 100%;
    padding: 20px;
    /* height: 60px; */
}

.info{
    font-size: 18px;
    width: 100%;
    padding: 25px 0 ;
}

.sub-heading{
    font-size: 22px;
}

.logos{
    padding-top: 35px;
    justify-content: space-around;
    width: 100%;
}

.logo{
    width: 135px;
    height: 55px;
    background-color: var(--background-color2);
}


.disclaimer {
    background-color: #f8d7da; /* Use a light red background to draw attention */
    border: 1px solid #f5c6cb; /* Add a subtle border */
    padding: 15px; /* Add some padding for better readability */
    margin-bottom: 20px; /* Add some space below the disclaimer */
    border-radius: 5px; /* Add rounded corners for a softer look */
    font-size: 16px; /* Set a comfortable font size */
    color: #721c24; /* Use a darker color for text */
    width: 75%;
    margin: auto;
  }
  
  .disclaimer p {
    margin: 10px 0; /* Add spacing between paragraphs */
  }