<section class="about-section">
    <h1 class="heading">
        About us:
    </h1>
    <p class="info">
        We're on a mission to reduce environmental waste and bring joy to
        underprivileged children by providing a convenient space for 
        selling, buying, and donating pre-loved toys. Join us in making a
        positive impact on both the planet and the lives of children in need.
    </p>
    <h2 class="sub-heading">
        Our Partners:
    </h2>
    <div class="logos flex">
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
    </div>
</section>