<div class="disclaimer">
    <p>
      SecondPlay is a third-party platform that connects buyers and sellers. While we strive to ensure a safe and secure environment,
      it's important to exercise caution and diligence before engaging in any transactions.
    </p>
    <p>
      SecondPlay bears no responsibility for any irregularities or disputes arising from transactions made through our platform.
      Users are encouraged to conduct thorough research and verify the credibility of the parties involved before proceeding.
    </p>
    <p>
      Remember to prioritize your safety and security. If something seems too good to be true, it probably is.
    </p>
  </div>

<section class="about-section">
    <h1 class="heading">
        About us:
    </h1>
    <p class="info">
        We're on a mission to reduce environmental waste and bring joy to
        underprivileged children by providing a convenient space for 
        selling, buying, and donating pre-loved toys. Join us in making a
        positive impact on both the planet and the lives of children in need.
    </p>
    <h2 class="sub-heading">
        Our Partners:
    </h2>
    <div class="logos flex">
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
        <div class="logo"></div>
    </div>
</section>